@CHARSET "UTF-8";
body{
	background-image:url(../Imagenes/bg01.jpg);
	background-repeat:no-repeat;
	position:Absolute;
top:0;
left:0;
width:95%;
heigth:100%;
z-index:-1; 
}

 #menu ul #submenu{
        position:absolute;
        visibility: hidden;
        margin-top: 14px;
}

#menu li:hover #submenu{
        display: block;
        visibility: visible;
        top:100%;
        width:120px;
        
}

div#letras{
	width:600px;
	height: 125px;
	position:absolute;
	left:50px;
	top:0px;
}
div#menu{
	width:100%;
	height:35px;
	position: absolute;
	left: 0px;
	top: 120px;
}

div#buscador{
	width:200px;
	height:60px;
	position:absolute;
	left:10px;
	top:300px;
}
div#contenido{
	right:15%;
	position:fixed;
	left:15%;
	top:30%;
}
div#sesion{
	width: 215px;
	height: 120px;
	position:absolute;
	right:75px;
	top:10px;
}
div#CatXML{
	
	width: 25px;
	height: 25px;
	position: absolute;
	right : 10px;
	top: 10px;
}
div#SpaXML{
	
	width: 25px;
	height: 25px;
	position: absolute;
	right : 45px;
	top: 10px;
}
#menu ul {

 list-style-type: none;
 width: 100%;
 margin: 0;
 padding: 10px;
 overflow: hidden;
 display: table;
 margin-top: 1em;
 background-color: #2175bc;
}

#menu li {
 display: table-cell;
 text-align: center padding: 2px;
 font-family: Arial;
  font-size:20px;
  text-decoration: none;
  color: #fff;
}

#menu li a{
  font-family: Arial;
  font-size:20px;
  text-decoration: none;
  color: #fff;
}

#menu li a:hover {
  padding-bottom:12px;
}

#container {
	margin: 10% 15% auto 15%;
	height:35px;
	left: 0px;
}

ul
{
  list-style:none;
  padding:0px;
  margin:0px
}

ul li
{
  display:inline;
  float:left;
}

ul li a
{
  color:#ffffff;
  background:#990E00;
  margin-right:5px;
  font-weight:bold;
  font-size:12px;
  font-family:verdana;
  text-decoration:none;
  display:block;
  width:100px;
  height:25px;
  line-height:25px;
  text-align:center;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border: 1px solid #560E00;
}

ul li a:hover
{
  color:#cccccc;
  background:#560E00;
  font-weight:bold;
  text-decoration:none;
  display:block;
  width:100px;
  text-align:center;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border: 1px solid #000000;
}

ul li.sublinks a
{
  color:#000000;
  background:#f6f6f6;
  border-bottom:1px solid #cccccc;
  font-weight:normal;
  text-decoration:none;
  display:block;
  width:100px;
  text-align:center;
  margin-top:1px;
}

ul li.sublinks a:hover
{
  color:#000000;
  background:#FFEFC6;
  font-weight:normal;
  text-decoration:none;
  display:block;
  width:100px;
  text-align:center;
}

ul li.sublinks
{
	display:none;
}

.table{
  display: table;
  padding: 5px;
  margin: 5px;
  border: solid 2px #0000FF;
}
.row{
  display: table-row;
  vertical-align: top;
  padding-bottom: 10px;
  border: solid 1px #00FF00;
  border-left: 0px;
}
.cell{
  display: table-cell;
  vertical-align: top;
  padding-left: 10px;
  width: 300px;
  text-align: left;
  margin: 1px;
  border: solid 1px #FF0000;
}
.td {
  width: 100px;
  font-style:italic;
}